.error {
  min-height: 100vh;
  text-align: center;
  padding: 0 0 60px 0;
}
.error__title {
  font-weight: normal;
  font-size: 140px;
  line-height: 169px;
  padding: 246px 0 5px 0;
  margin: 0;
}
.error__subtitle {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  margin: 0 0 184px 0;
  padding: 0;
}
.error_back {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #4285f4;
}
.error_back {
  background-color: transparent;
  border: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #4285f4;
  cursor: pointer;
  text-decoration: none;
}
.error_back:hover{
    opacity: .6;
  }
@media screen and (max-width:426px) {
    .error__title {
        font-weight: normal;
        font-size: 80px;
        line-height: 97px;
      }
      .error__subtitle {
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
      }
      .error_back {
        font-size: 12px;
        line-height: 15px;
      }
}